* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

div {
    text-align: center;
}

ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    font-size: 20px;
    margin-bottom: 40px;
}

h1 {
    font-size: 50px;
    margin-bottom: 50px; 
}

